node_modules
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
*/fenv/
ENV/

# Local development settings
*.sqlite3
*.db

# Logs and temporary files
*.log
*.swp
*.swo
*.bak
*.tmp

# IDE specific files
.vscode/
.idea/
*.pyc

# Compiled Python files
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test databases
test_db.sqlite3
migrations/
db_vol